<html>
<html ng-app="myModule">
<head>
	<!-- minified version -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
	<!-- uncompressed version -->
	<link rel="stylesheet" type="text/css" href="assets/css/index.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
	<script src="app/controllers/index.js"></script>
</head>
<body>
	<div ng-controller="myController">		
		<div class="container jumbotron first ">
			<div class="row">
				<div class="col-sm-6" ng-repeat="image in images | limitTo:1:0; ">
					<img src="{{URL}}{{image.width}}/{{image.height}}?image={{image.id}}" class="img-fluid" style="height: 377px;">
					<p>{{ data.titles[$index]}}</p>
				</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-6" ng-repeat="image in images | limitTo:4:2">
							<img src='{{URL}}{{image.width}}/{{image.height}}?image={{image.id}}' class="img-fluid">
							<p>{{ data.titles[$index+1]}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>