<div ng-controller="myController">		
	<div class="container jumbotron first ">
		<div class="row">
			<div class="col-sm-6" ng-repeat="image in images | limitTo:1:0; ">
				<img src="{{URL}}{{image.width}}/{{image.height}}?image={{image.id}}" class="img-fluid" style="height: 377px;">
				<p>{{ data.titles[$index]}}</p>
			</div>
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-6" ng-repeat="image in images | limitTo:4:2">
						<img src='{{URL}}{{image.width}}/{{image.height}}?image={{image.id}}' class="img-fluid">
						<p>{{ data.titles[$index+1]}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>