.image >img {
	height: 100px;
	width: 100px;
	
}
.image >img:nth-child(1) {
	margin-left: 450px;
}
.first {
	margin-top:20px;
	display: flex;
}
.dispalydata {
    border-collapse: collapse;
    width: 100%;
}

.dispalydata >th, td,thead {
    text-align: left;
    padding: 6px;
}
.navigate > a{
	text-decoration: none;
	font-size: 30px;
	padding-left: 8px;
	margin-left: 400px;
}
/*animation*/